body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9981_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1643px;
  height:1005px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u9981 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:301px;
  width:1643px;
  height:1005px;
}
#u9981_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9982 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:316px;
  width:166px;
  height:37px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9982_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  white-space:nowrap;
}
#u9983 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:363px;
  width:1624px;
  height:933px;
}
#u9983_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1624px;
  height:933px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9984 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9985 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:80px;
  width:718px;
  height:100px;
}
#u9986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:50px;
}
#u9986 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:50px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u9986_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u9987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:582px;
  height:50px;
}
#u9987 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:0px;
  width:582px;
  height:50px;
  font-size:18px;
  text-align:left;
}
#u9987_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:578px;
  word-wrap:break-word;
}
#u9988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:50px;
}
#u9988 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:136px;
  height:50px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u9988_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u9989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:582px;
  height:50px;
}
#u9989 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:50px;
  width:582px;
  height:50px;
  font-size:18px;
  text-align:left;
}
#u9989_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:578px;
  word-wrap:break-word;
}
#u9990 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:80px;
  width:926px;
  height:100px;
}
#u9991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:50px;
}
#u9991 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:50px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u9991_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:130px;
  word-wrap:break-word;
}
#u9992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:792px;
  height:50px;
}
#u9992 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:0px;
  width:792px;
  height:50px;
  font-size:18px;
  text-align:left;
}
#u9992_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:50px;
}
#u9993 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:134px;
  height:50px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u9993_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:130px;
  word-wrap:break-word;
}
#u9994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:792px;
  height:50px;
}
#u9994 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:50px;
  width:792px;
  height:50px;
  font-size:18px;
}
#u9994_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9995 {
  border-width:0px;
  position:absolute;
  left:1427px;
  top:80px;
  width:276px;
  height:51px;
}
#u9996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:51px;
}
#u9996 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:51px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u9996_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:76px;
  word-wrap:break-word;
}
#u9997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:51px;
}
#u9997 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:0px;
  width:196px;
  height:51px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u9997_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:192px;
  word-wrap:break-word;
}
#u9998 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:178px;
  width:1643px;
  height:102px;
}
#u9999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:52px;
}
#u9999 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:52px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u9999_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:132px;
  word-wrap:break-word;
}
#u10000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1507px;
  height:52px;
}
#u10000 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:0px;
  width:1507px;
  height:52px;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u10000_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:1503px;
  word-wrap:break-word;
}
#u10001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:50px;
}
#u10001 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:52px;
  width:136px;
  height:50px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u10001_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:132px;
  word-wrap:break-word;
}
#u10002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1507px;
  height:50px;
}
#u10002 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:52px;
  width:1507px;
  height:50px;
  font-size:18px;
}
#u10002_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10003_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1569px;
  height:901px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:left;
}
#u10003 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:380px;
  width:1569px;
  height:901px;
  font-size:20px;
  text-align:left;
}
#u10003_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:1565px;
  word-wrap:break-word;
}
#u10004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u10004 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:1555px;
  width:1920px;
  height:1080px;
}
#u10004_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10005_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:832px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u10005 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:1489px;
  width:832px;
  height:23px;
  font-size:20px;
}
#u10005_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:832px;
  word-wrap:break-word;
}
#u10006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u10006 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:2810px;
  width:1920px;
  height:1080px;
}
#u10006_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10007_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:896px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u10007 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:2743px;
  width:896px;
  height:23px;
  font-size:20px;
}
#u10007_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:896px;
  word-wrap:break-word;
}
